<div class="card">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="../../../assets/logo/964c3891-8cc0-45cc-8725-50c7b0fb6036.png" alt="logo" class="logo">
                        </div>
                        <div class="col-sm-6">
                            <span class="logo-lable" routerLink="/">Rest Spectator</span>

                        </div>
                    </div>
                    
                   
                </div>
                <div class="col-sm-6">
                </div>
            </div>

        </div>

    </div>
   
</div>
